.Calc{
    position: relative;
    top:50px;
    left: 31.25%;
    border: 1px solid black;
    padding-top: 50px;
    width: 750px;
    height: 300px;
    border-radius: 40px;
    background-color: #bcfdd7;
    justify-items: center;
    align-items: center;
    margin-bottom: 50px;
}
.Calc p{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.Trian{
    position: relative;
    top:50px;
    left: 31.25%;
    border: 1px solid black;
    padding-top: 50px;
    width: 750px;
    height: 700px;
    border-radius: 40px;
    background-color: #bcfdd7;
    margin-bottom: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.Trian p{
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.canvas{
    background: #fff;
    border: 1px solid black;
}
#num{
    position: relative;
    top: 20px;
    left: 175px;
    width: 400px;
    height: 50px;
    font-size: 48px;
}
.result{
    margin-top: 40px;
    margin-bottom: 20px;
}
.resultt{
    margin-top: 40px;
    margin-bottom: 20px;
}
.menucalc{
    position: relative;
    margin-top: 150px;
    width: auto;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menucalc ul
{
    background: rgba(0, 0, 0,0.2);
    height: 55px;
    width: 800px;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px black;
}
.menucalc ul li
{
    list-style: none;
    margin-left: 20px;
}
.menucalc ul li a 
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 15px;
    transition: .3s;
}
.menucalc ul li a:hover,
.menucalc ul li a.active
{
    background: #fff;
    color: #2b1055;
    box-shadow: 0 0 15px black;
}
.menucalc ul li a.active:hover
{
    background: #cfcfcf;
}
.DEC{
display: none;
}
.ColRGB{
    display: none;
}
.Triangle{
    display: none;
}
.show {display: block;}