body{
    background-color: #8995A1;
}
table {
    table-layout: fixed; 
    width: 75%; 
    background: #ffffff;
   }
.screen {
    margin: 2%;
}
img{
    border: 1px solid black;
    border-radius: 15px;
}
