table {
    table-layout: fixed; /* Фиксированная ширина ячеек */
    width: 75%; /* Ширина таблицы */
   }
.screen {
    margin: 2%;
}
img{
    border: 1px solid black;
    border-radius: 15px;
}