@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    user-select: none;
}
html
{
    scroll-behavior: smooth;
}
body
{
    min-height: 150vh;
    background: linear-gradient(#2b1055,#7597de);
    overflow-x: hidden;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('../img/icon_top.png') no-repeat;
    z-index: 100;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header #logo{list-style: none;}
header #logo a
{
    color: aquamarine;
    font-weight: 700;
    padding: 6px 15px;
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 25px;
    transition: .3s;
}
header #logo a:hover
{
    background: aquamarine;
    letter-spacing: 6px;
    color: #2b1055;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a 
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 15px;
    transition: .3s;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #2b1055;
}
header ul li a.active:hover
{
    background: #cfcfcf;
}
div#info
{
    display: flex;
    background: linear-gradient(180deg,rgba(0, 0, 0,0) 0%,rgb(255, 255, 255) 10%, rgb(255, 255, 255) 90%, rgba(0, 0, 0,0) 100%);
    width: 100%;
    height: 500px;
    margin-top: 980px;
    align-items: center;
    justify-content: center;
}
div#info a
{
    text-decoration: none;
}
div#info a h1
{
    color: #4a498f;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 6em;
    transition: 0.3s;
}
div#info a h1:hover
{
    letter-spacing: 10px;
    font-size: 8em;
}
.lab{
    margin-top: 80px;
    color: #fff;
    font-size: 3.5em;
    letter-spacing: 8px;
    text-transform: uppercase;
}
ul#lab
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-right: 80px;
}
ul#lab li
{
    list-style: none;
}
ul#lab li a
{
    text-decoration: none;
}
ul#lab img{
    width: 70%;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.8);
}
@media screen and (min-width:1920px) {
    div[class|='lab']
{
    height: 300px;
    width: 450px;
    margin: 0 auto;
    box-shadow: 0 0 25px rgba(0,0,0,0.8);
    margin-left: 90px;
}
div[class|='lab'] p
{
    line-height: 300px;
}
}
@media screen and (min-width:1280px) {
    div[class|='lab']
{
    height: 250px;
    width: 375px;
    margin: 0 auto;
    box-shadow: 0 0 25px rgba(0,0,0,0.8);
    margin-left: 90px;
}
div[class|='lab'] p
{
    line-height: 250px;
}
}

.lab-1{background: url(../img/lab1.png) no-repeat center top;}
.lab-2{background: url(../img/lab2.png) no-repeat center top;}
.lab-3{background: url(../img/lab3.png) no-repeat center top;}
.lab-4{background: url(../img/lab4.png) no-repeat center top;}
.lab-5{background: url(../img/lab5.png) no-repeat center top;}
.lab-6{background: url(../img/lab6.png) no-repeat center top;}
.lab-7{background: url(../img/lab7.png) no-repeat center top;}
div[class|='lab'] p
{
    opacity: 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    transition: .5s ease;
}

div[class|='lab']:hover p 
{
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
footer
{
    margin-top: 1500px;
    width: 100%;
    height: 150px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul li 
{
    list-style: none;
    margin-left: 20px;
}
footer ul li a 
{
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    font-size: 2em;
}
